# Build Folders
bin/
obj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider / Resharper
.idea/
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Core
appsettings.*.json
wwwroot/

# Optional: Copilot files
*.db-shm
*.db-wal
