name: Deploy ASP.NET Core API to Local IIS

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish
      run: dotnet publish -c Release -o publish

    - name: Stop IIS Site
      shell: powershell
      run: |
        Import-Module WebAdministration
        Stop-Website -Name "MyWebApi"

    - name: Deploy to IIS Folder
      shell: powershell
      run: |
        Remove-Item "C:\inetpub\MyWebApi\*" -Recurse -Force -ErrorAction SilentlyContinue
        Copy-Item "publish\*" "C:\inetpub\MyWebApi" -Recurse -Force

    - name: Start IIS Site
      shell: powershell
      run: |
        Import-Module WebAdministration
        Start-Website -Name "MyWebApi"
