name: Build & Deploy ASP.NET Core API to IIS (.NET 9)

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore NuGet packages
      run: dotnet restore

    - name: Build project
      run: dotnet build --configuration Release --no-restore

    - name: Publish project
      run: dotnet publish -c Release -o publish

    - name: Stop IIS Website
      run: |
        Import-Module WebAdministration
        Stop-Website -Name "MyWebApi"
      shell: powershell

    - name: Deploy to IIS folder
      run: |
        Remove-Item "C:\inetpub\MyWebApi\*" -Recurse -Force -ErrorAction SilentlyContinue
        Copy-Item "publish\*" "C:\inetpub\MyWebApi" -Recurse -Force
      shell: powershell

    - name: Start IIS Website
      run: |
        Import-Module WebAdministration
        Start-Website -Name "MyWebApi"
      shell: powershell
