name: Deploy ASP.NET Core API to Local IIS (.NET 9)

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore
      run: dotnet restore

    - name: Publish (IIS-ready)
      run: |
        dotnet publish InMemoryCrudApi.csproj `
          -c Release `
          -o publish `
          --runtime win-x64 `
          --self-contained false

    - name: Stop IIS Site
      shell: powershell
      run: |
        Import-Module WebAdministration
        Stop-Website -Name "MyWebApi"

    - name: Clean and Deploy to IIS Folder
      shell: powershell
      run: |
        $dest = "C:\inetpub\MyWebApi"

        if (!(Test-Path $dest)) {
            New-Item -ItemType Directory -Path $dest
        }

        Remove-Item "$dest\*" -Recurse -Force -ErrorAction SilentlyContinue
        Copy-Item "publish\*" $dest -Recurse -Force

    - name: Start IIS Site
      shell: powershell
      run: |
        Import-Module WebAdministration
        Start-Website -Name "MyWebApi"
