name: Deploy API to Local IIS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - run: dotnet restore
      - run: dotnet build -c Release
      - run: dotnet publish -c Release -o publish

      - name: IIS Deploy
        shell: powershell
        run: |
          Import-Module WebAdministration
          Stop-Website "MyWebApi"

          Remove-Item "C:\inetpub\MyWebApi\*" -Recurse -Force -ErrorAction SilentlyContinue
          Copy-Item "publish\*" "C:\inetpub\MyWebApi" -Recurse -Force

          Start-Website "MyWebApi"
